@model Website.ViewModel.NewsViewModel

@{
    ViewBag.Title = "Create";
    Layout = null;
    var listMovie = ViewBag.ListMovie as List<SelectListItem>;
}


<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckfinder/ckfinder.js"></script>
<script>
    $(document).ready(function () {
        $('#MovieId').select2({
            placeholder: "",
            allowClear: true,
            selectOnClose: false,
        });
    });
</script>
<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm("Create", "ManagerNews", FormMethod.Post, new { enctype = "multipart/form-data", @name = "formupload" }))
        {
            <div class="modal-header">
                <h4 class="modal-title">Thêm mới <b>Tin tức</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Title)
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ShortDescription)
                    @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MovieId)
                    @Html.DropDownListFor(model => model.MovieId, listMovie, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Thumbnail)
                    <input type='file' name="image" id="upload" onchange="ShowImagePreview(this)" />
                </div>
                <img id="imagePreview" style="width:100%" />

                <div class="form-group">
                    @Html.LabelFor(model => model.Description)
                    <textarea name="Description" id="ckeditor"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
                <input type="submit" class="btn btn-success" value="Thêm mới tin tức">
            </div>
        }
    </div>
</div>
@Scripts.Render("~/Script/jquery")
<script>
    CKEDITOR.replace('ckeditor');
    function ShowImagePreview(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').prop('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>