@model Website.ViewModel.MoviesViewModel

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckfinder/ckfinder.js"></script>

<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm("Create", "ManagerMovies", FormMethod.Post, , new { enctype = "multipart/form-data", @name = "formupload" }))
        {
            <div class="modal-header">
                <h4 class="modal-title">Thêm mới bộ phim</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name)
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DatePublish)
                    @Html.EditorFor(model => model.DatePublish, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LengthTime)
                    @Html.EditorFor(model => model.LengthTime, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Language)
                    @Html.EditorFor(model => model.Language, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Country)
                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsHot)
                    @Html.CheckBoxFor(model => model.IsHot)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NameEn)
                    @Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EnableAge)
                    @Html.EditorFor(model => model.EnableAge, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Thumbnail)
                    <input type='file' name="image" id="upload" onchange="ShowImagePreview(this)" />
                </div>
                <img id="imagePreview" style="width:100%"/>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description)
                    <textarea name="Description" id="ckeditor"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input type="submit" class="btn btn-success" value="Thêm bộ phim">
            </div>
        }
    </div>
</div>
@Scripts.Render("~/Script/jquery")
<script>
    CKEDITOR.replace('ckeditor');
    function ShowImagePreview(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').prop('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>