@using Website.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

@*load css*@
@Styles.Render("~/Content/admincss")

<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Đăng nhập tài khoản của bạn</h1>
                                    </div>
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                                        new { @class = "user" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", @id = "exampleInputEmail",
                                                                                    @placeholder = "Email"
                                                                                    })
                                        </div>
                                        <div class="form-group">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-user",
                                                                                       @id = "exampleInputPassword",
                                                                                       @placeholder = "Password"
                                                                                   })
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input", @id = "customCheck" })
                                                <label class="custom-control-label" for="customCheck">Remember Me</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Đăng nhập
                                        </button>
                                        <hr>
                                        <a href="index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Google
                                        </a>
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Facebook
                                        </a>
                                    }
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="@Url.Action("ForgotPassword", "Account")">Quên mật khẩu?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="@Url.Action("Register", "Account")">Tạo mới tài khoản</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@*load js*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jsadmin")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-easing")
    @Scripts.Render("~/bundles/bootstrap")
}