<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>One Movies an Entertainment Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script src="~/Scripts/select2.min.js"></script>
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />

    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>

</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="w3layouts_logo">
                <a href="index.html"><h1>One<span>Movies</span></h1></a>
            </div>
            <div class="w3_search">
                <form action="#" method="post">
                    <input type="text" name="Search" placeholder="Search" required="">
                    <input type="submit" value="Go">
                </form>
            </div>
            <div class="w3l_sign_in_register">
                @if (Request.IsAuthenticated)
                {
                    @Html.Action("ViewProfile", "Base", new { userName = User.Identity.Name });
                }
                else
                {
                    <ul>
                        <li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
                    </ul>
                }
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- bootstrap-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Sign In & Sign Up
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <div class="w3_login_module">
                            <div class="module form-module">
                                <div class="toggle">
                                    <i class="fa fa-times fa-pencil"></i>
                                    <div class="tooltip">Click Me</div>
                                </div>
                                <div class="form">
                                    <h3>Login to your account</h3>
                                    <form action="#" method="post">
                                        <input type="text" name="Username" placeholder="Username" required="">
                                        <input type="password" name="Password" placeholder="Password" required="">
                                        <input type="submit" value="Login">
                                    </form>
                                </div>
                                <div class="form">
                                    <h3>Create an account</h3>
                                    <form action="#" method="post">
                                        <input type="text" name="Username" placeholder="Username" required="">
                                        <input type="password" name="Password" placeholder="Password" required="">
                                        <input type="email" name="Email" placeholder="Email Address" required="">
                                        <input type="text" name="Phone" placeholder="Phone Number" required="">
                                        <input type="submit" value="Register">
                                    </form>
                                </div>
                                <div class="cta"><a href="#">Forgot your password?</a></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- //bootstrap-pop-up -->
    <!-- nav -->
    <div class="movies_nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index.html">Trang Chủ</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thể Loại <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <li>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">Phim hành động</a></li>
                                                <li><a href="genres.html">Phim viễn tưởng</a></li>
                                                <li><a href="genres.html">Phim chiến tranh</a></li>
                                                <li><a href="genres.html">Phim hình sự</a></li>
                                                <li><a href="horror.html">Phim phiêu lưu</a></li>
                                                <li><a href="genres.html">Phim hài hước</a></li>
                                                <li><a href="genres.html">Phim võ thuật</a></li>
                                                <li><a href="genres.html">Phim kinh dị</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">Phim hồi hộp-Gây cấn</a></li>
                                                <li><a href="comedy.html">Phim Bí ẩn-Siêu nhiên</a></li>
                                                <li><a href="genres.html">Phim cổ trang</a></li>
                                                <li><a href="genres.html">Phim thần thoại</a></li>
                                                <li><a href="genres.html">Phim tâm lý</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">Phim tài liệu</a></li>
                                                <li><a href="genres.html">Phim tình cảm-Lãng mạn</a></li>
                                                <li><a href="genres.html">Phim chính kịch - Drama</a></li>
                                                <li><a href="genres.html">Phim Thể thao-Âm nhạc</a></li>
                                                <li><a href="genres.html">Phim gia đình</a></li>
                                                <li><a href="genres.html">Phim hoạt hình</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="series.html">Phim Bộ</a></li>
                            <li><a href="news.html">Phim Lẻ</a></li>
                            <li><a href="short-codes.html">Tin Tức</a></li>
                            <li><a href="list.html">Trailer</a></li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
    <!-- //nav -->
    <!-- banner -->
    @Html.Action("SlideBarTopView", "Base")
    <!-- //banner -->


    @RenderBody()

    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="w3ls_footer_grid">
                <div class="col-md-6 w3ls_footer_grid_left">
                    <div class="w3ls_footer_grid_left1">
                        <h2>Đăng ký với chúng tôi</h2>
                        <div class="w3ls_footer_grid_left1_pos">
                            <form action="#" method="post">
                                <input type="email" name="email" placeholder="Email của bạn..." required="">
                                <input type="submit" value="Send">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 w3ls_footer_grid_right">
                    <a href="index.html"><h2>One<span>Movies</span></h2></a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-5 w3ls_footer_grid1_left">
                <p>&copy; 2019 One Movies</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->

    @Styles.Render("~/Content/style-bootstrap3")
    @Scripts.Render("~/Script/script-website")

    <script type="text/javascript">
        $("#slidey").slidey({
            interval: 8000,
            listCount: 5,
            autoplay: false,
            showList: true
        });
        $(".slidey-list-description").dotdotdot();
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>