@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>One Movies - Web xem phim online</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="One Movies" />
    <!-- //for-mobile-apps -->
    <link href="~/Content/stylewebsite/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/stylewebsite/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/stylewebsite/contactstyle.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/stylewebsite/faqstyle.css" type="text/css" media="all" />
    <link href="~/Content/stylewebsite/single.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/stylewebsite/medile.css" rel='stylesheet' type='text/css' />
    <!-- banner-slider -->
    <link href="~/Content/stylewebsite/jquery.slidey.min.css" rel="stylesheet">
    <!-- //banner-slider -->
    <!-- pop-up -->
    <link href="~/Content/stylewebsite/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //pop-up -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="~/Content/fontawesome/all.css" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="~/Scripts/ScriptWebsite/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- banner-bottom-plugin -->
    <link href="~/Content/stylewebsite/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Scripts/ScriptWebsite/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                autoPlay: 3000,
                items: 5,
                itemsDesktop: [640, 4],
                itemsDesktopSmall: [414, 3]

            });

        });
    </script>
    <!-- //banner-bottom-plugin -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Scripts/ScriptWebsite/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/ScriptWebsite/easing.js"></script>
    <!-- start-smoth-scrolling -->
</head>

<body>
    <!--COMMENT FACEBOOK-->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=510313972709946&autoLogAppEvents=1"></script>
    <!--END COMMENT FACEBOOK-->
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="w3layouts_logo">
                <a href="index.html"><h1>One<span>Movies</span></h1></a>
            </div>
            <div class="w3_search">
                <form action="#" method="post">
                    <input type="text" name="Search" placeholder="Search" required="">
                    <input type="submit" value="Go">
                </form>
            </div>
            <div class="w3l_sign_in_register">
                @if (Request.IsAuthenticated)
                {
                    @Html.Action("ViewProfile", "Base", new { userName = User.Identity.Name });

                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post,
                        new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()

                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            Đăng Xuất<i class="fa fa-sign-out-alt" aria-hidden="true"></i>
                        </a>
                        
                    }
                }
                else
                {
                    <ul>
                        <li><a href="@Url.Action("Login", "Account")" data-toggle="modal">Đăng Nhập</a></li>
                    </ul>
                }
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- nav -->
    <div class="movies_nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index.html">Trang Chủ</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thể Loại <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <li>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">Phim hành động</a></li>
                                                <li><a href="genres.html">Phim viễn tưởng</a></li>
                                                <li><a href="genres.html">Phim chiến tranh</a></li>
                                                <li><a href="genres.html">Phim hình sự</a></li>
                                                <li><a href="horror.html">Phim phiêu lưu</a></li>
                                                <li><a href="genres.html">Phim hài hước</a></li>
                                                <li><a href="genres.html">Phim võ thuật</a></li>
                                                <li><a href="genres.html">Phim kinh dị</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">Phim hồi hộp-Gây cấn</a></li>
                                                <li><a href="comedy.html">Phim Bí ẩn-Siêu nhiên</a></li>
                                                <li><a href="genres.html">Phim cổ trang</a></li>
                                                <li><a href="genres.html">Phim thần thoại</a></li>
                                                <li><a href="genres.html">Phim tâm lý</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="genres.html">Phim tài liệu</a></li>
                                                <li><a href="genres.html">Phim tình cảm-Lãng mạn</a></li>
                                                <li><a href="genres.html">Phim chính kịch - Drama</a></li>
                                                <li><a href="genres.html">Phim Thể thao-Âm nhạc</a></li>
                                                <li><a href="genres.html">Phim gia đình</a></li>
                                                <li><a href="genres.html">Phim hoạt hình</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="series.html">Phim Bộ</a></li>
                            <li><a href="news.html">Phim Lẻ</a></li>
                            <li><a href="short-codes.html">Tin Tức</a></li>
                            <li><a href="list.html">Trailer</a></li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
    <!-- //nav -->
    <!-- banner -->
    @Html.Action("SlideBarTopView", "Base")
    <script src="~/Scripts/ScriptWebsite/jquery.slidey.js"></script>
    <script src="~/Scripts/ScriptWebsite/jquery.dotdotdot.min.js"></script>
    <script type="text/javascript">
        $("#slidey").slidey({
            interval: 8000,
            listCount: 5,
            autoplay: false,
            showList: true
        });
        $(".slidey-list-description").dotdotdot();
    </script>
    <!-- //banner -->
    <!--- contact-->
    <div class="general_social_icons">
        <nav class="social">
            <ul>
                <li class="w3_twitter"><a href="#">Twitter <i class="fab fa-twitter"></i></a></li>
                <li class="w3_facebook"><a href="#">Facebook <i class="fab fa-facebook-f"></i></a></li>
                <li class="w3_g_plus"><a href="#">Google+ <i class="fab fa-google-plus-g"></i></a></li>
            </ul>
        </nav>
    </div>


    @RenderBody()

    <!-- pop-up-box -->
    <script src="~/Scripts/ScriptWebsite/jquery.magnific-popup.js" type="text/javascript"></script>
    <!--//pop-up-box -->
    <div id="small-dialog" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/164819130?title=0&byline=0"></iframe>
    </div>
    <div id="small-dialog1" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/148284736"></iframe>
    </div>
    <div id="small-dialog2" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>
    </div>
    <script>
        $(document).ready(function () {
            $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- //Latest-tv-series -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="w3ls_footer_grid">
                <div class="col-md-6 w3ls_footer_grid_left">
                    <div class="w3ls_footer_grid_left1">
                        <h2>Đăng ký với chúng tôi</h2>
                        <div class="w3ls_footer_grid_left1_pos">
                            <form action="#" method="post">
                                <input type="email" name="email" placeholder="Email của bạn..." required="">
                                <input type="submit" value="Send">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 w3ls_footer_grid_right">
                    <a href="index.html"><h2>One<span>Movies</span></h2></a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-5 w3ls_footer_grid1_left">
                <p>&copy; 2019 One Movies</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/ScriptWebsite/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //Bootstrap Core JavaScript -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>