@model Website.Models.ChangePasswordViewModel

<div class="tab-pane" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post,
                            new { @class = "user" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "col-md-12" })
                <div class="col-md-4">
                    @Html.PasswordFor(model => model.OldPassword, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "col-md-12" })
                <div class="col-md-4">
                    @Html.PasswordFor(model => model.NewPassword, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "col-md-12" })
                <div class="col-md-4">
                    @Html.PasswordFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-primary btn-user btn-block col-md-3" style="text-align:center;
                                                                                                            left: 31px;
                                                                                                            top: 35px;
                                                                                                            width:200px">
                    Lưu thông tin
                </button>

            </div>
        </div>
        }
    </div>