@model IEnumerable<Website.ViewModel.MoviesViewModel>

<div class="tab-pane" id="v-pills-home">
    <div class="table-responsive">
        <table class="table table-hover mb-0">
            <thead>
                <tr>
                    <th>Tên phim</th>
                    <th>Ngày chiếu</th>
                    <th>Độ dài phim</th>
                    <th>Lượt xem</th>
                    <th>Đánh giá</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                   @foreach(var movie in Model)
                   {
                        <td>@movie.Name</td>
                        <td>@movie.DatePublish</td>
                        <td><span class="badge badge-danger m-0">@movie.LengthTime <b>phút</b></span></td>
                        <td><span>@movie.CountView</span></td>
                        <td>
                            @Html.Partial("_PartialStar", (double)movie.Rating)
                        </td>
                   }
                </tr>
            </tbody>
        </table>
    </div>
</div>
