@model Website.Models.UpdateUserViewModel
@{
    Layout = "~/Views/Shared/_LayoutManagerUser.cshtml";
}

<head>
    @Styles.Render("~/Content/manageuser")
    <!-- Latest compiled and minified CSS -->
    <script type="text/javascript" src="~/Scripts/ScriptWebsite/jquery-2.1.4.min.js"></script>
</head>

<div class="container mb-4 main-container">
    <div class="row">
        <div class="col-lg-4 pb-5">
            <!-- Account Sidebar-->
            <div class="author-card pb-3">
                <div class="author-card-cover" style="background-image: url(@Model.Wallpaper);height: 200px;"></div>
                <div class="author-card-profile">
                    <div class="author-card-avatar" style="width:100px; height:100px">
                        <img src="@Model.Avatar" alt="Daniel Adams" style="width: 100%; height:100%">
                    </div>
                    <div class="author-card-details">
                        <h5 class="author-card-name text-lg">@Model.FullName</h5><span class="author-card-position">Joined @Model.CreatedDate </span>
                    </div>
                </div>
            </div>
            <div class="wizard">
                <ul class="nav nav-pills nav-stacked" style="margin-top: 20px">
                    <li class="nav-link" title="FavoriteMovie">
                        <a>Home</a>
                    </li>
                    <li class="nav-link" title="InformationUser">
                        <a>Đổi thông tin</a>
                    </li>
                    <li class="nav-link" title="ChangePassword">
                        <a>Đổi mật khẩu</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Orders Table-->
        <div class="col-lg-8 pb-5 tab-content" id="v-pills-tabContent">
            <div id="content"> </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Script/jquery")
<script>
    $(document).ready(function () {
        // default load favorite movie page
        $("#content").load('@Url.Action("FavoriteMovie", new { @id = @Model.Id })');

        // handle event when click element
        $(".nav-link").click(function () {
            $("#content").empty();
            var url = null;
            debugger
            var page = $(this).attr('title');
            switch (page) {
                case "InformationUser":
                    url = '@Url.Action("InformationUser", new { @id = @Model.Id})';
                    break;
                case "FavoriteMovie":
                    url = '@Url.Action("FavoriteMovie", new { @id = @Model.Id})';
                    break;
                case "ChangePassword":
                    url = '@Url.Action("ChangePassword", new { @id = @Model.Id})';
            }

            $("#content").load(url);
        });
    });

</script>