<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/admincss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body  id="page-top">
    <div id="wrapper">
        @Html.Partial("_SideBar")
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                @Html.Partial("_TopBar")
                <div class="container-fluid">
                    @RenderBody()
                </div>
                @Html.Partial("_Footer")
            </div>
            </div>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jsadmin")
        @RenderSection("scripts", required: false)
</body>
</html>