<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/admincss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/select2")
    @Scripts.Render("~/Script/select2")
</head>
<body id="page-top">
    <div id="wrapper">
        @Html.Partial("_SideBar")
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                @Html.Partial("_TopBar")
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            @Html.Partial("_Footer")
        </div>
    </div>




    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jsadmin")
    @RenderSection("scripts", required: false)
</body>
</html>