@model Website.Models.UpdateUserViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm("EditUser", "ManagerUsers", FormMethod.Post))
        {
            <div class="modal-header">
                <h4 class="modal-title">Cập nhập thông tin người dùng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    <label for="Name">Họ</label>
                    @Html.TextBoxFor(m => m.FullName, new { id = "FullName", @class = "form-control", required = "required" })
                </div>
                <div class="form-group">
                    <label for="Name">Địa Chỉ</label>
                    @Html.TextBoxFor(m => m.Address, new { id = "FullName", @class = "form-control", required = "required" })
                </div>
                <div class="form-group">
                    <label for="Name">Số điện thoại</label>
                    @Html.TextBoxFor(m => m.PhoneNumber, new { id = "FullName", @class = "form-control", required = "required" })
                </div>
                <div class="form-group">
                    <label for="Name">Họ và tên</label>
                    @Html.TextBoxFor(m => m.Email, new { id = "FullName", @class = "form-control", required = "required" })
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
                <input type="submit" class="btn btn-success" value="Cập nhập thông tin">
            </div>
        }
    </div>
</div>

