@model IEnumerable<Website.ViewModel.MoviesViewModel>

@{
    Layout = null;
}

@foreach (var item in Model)
{
<div class="single-right-grids">
    <div class="col-md-4 single-right-grid-left">
        <a href="@Url.Action("Details","Movies", new { id = item.Id })"><img src="@item.Thumbnail" alt=""></a>
    </div>
    <div class="col-md-8 single-right-grid-right">
        <a href="@Url.Action("Details","Movies", new { id = item.Id })" class="title"> @item.Name</a>
        <p class="author"><a href="#" class="author">@item.LengthTime <b>phút</b></a></p>
        <p class="views">@item.CountView lượt xem</p>
    </div>
    <div class="clearfix"> </div>
</div>
}