@model Website.ViewModel.MoviesViewModel

@{
    ViewBag.Title = "Details";
}
<head>
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #ecf0f1;
                color: black;
            }
    </style>
</head>
<script src="~/Scripts/ScriptWebsite/simplePlayer.js"></script>
<script>
    $("document").ready(function () {
        $("#video").simplePlayer();
    });
</script>

<div class="single-page-agile-main">
    <div class="container">
        <!-- /w3l-medile-movies-grids -->
        <div class="agileits-single-top">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li class="active">@Model.Name</li>
            </ol>
        </div>
        <div class="single-page-agile-info">
            <!-- /movie-browse-agile -->
            <div class="show-top-grids-w3lagile">
                <div class="col-sm-8 single-left">
                    <div class="song">
                        <div class="song-info">
                            <h3>@Model.Name</h3>
                        </div>
                        <div class="video-grid-single-page-agileits">
                            <div class="video-grid-single-page-agileits">
                                <div data-video="" id="video">
                                    <img src="@Model.Thumbnail" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>

                    <div class="song-grid-right">
                        <div class="share">
                            <p class="detail-title">Thông tin <b>Phim</b></p>
                            <br />
                            <table id="customers">
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>Tên Phim</td>
                                    <td>@Model.Name</td>
                                </tr>
                                <tr>
                                    <td>Tên Tiếng Anh</td>
                                    <td>@Model.NameEn</td>
                                </tr>
                                <tr>
                                    <td>Số Lượt Xem</td>
                                    <td>@Model.CountView</td>
                                </tr>
                                <tr>
                                    <td>Ngôn Ngữ</td>
                                    @if (Model.Language != null)
                                    {
                                        <td>@Model.Language</td>
                                    }
                                    else
                                    {
                                        <td>Đang cập nhập</td>
                                    }
                                </tr>
                                <tr>
                                    <td>Quốc Gia</td>
                                    @if (Model.Country != null)
                                    {
                                        <td>@Model.Country</td>
                                    }
                                    else
                                    {
                                        <td>Đang cập nhập</td>
                                    }
                                </tr>
                                <tr>
                                    <td>Độ tuổi cho phép</td>
                                    <td>@Model.EnableAge</td>
                                </tr>
                                <tr>
                                    <td>Số tập</td>
                                    @if (Model.IsSeriesMovie)
                                    {
                                        <td>@Model.Episodes tập</td>
                                    }
                                    else
                                    {
                                        <td>1 tập</td>
                                    }
                                </tr>
                                <tr>
                                    <td>Độ dài phim</td>
                                    <td>@Model.LengthTime <b>phút</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"> </div>

                    <div class="song-grid-right">
                        <div class="share">
                            <p class="detail-title">Diễn <b>Viên</b></p>
                            <br />
                            @Html.Action("GetActorsOfMovie", "Movies", new { id = Model.Id})
                        </div>
                    </div>
                    <div class="clearfix"> </div>

                    <div class="song-grid-right">
                        <div class="share">
                            <p class="detail-title">Đạo <b>Diễn</b></p>
                            <br />
                            @Html.Action("GetDirectorsOfMovie", "Movies", new { id = Model.Id })
                        </div>
                    </div>
                    <div class="clearfix"> </div>

                    <div class="song-grid-right">
                        <div class="share">
                            <p class="detail-title">Mô tả <b>Phim</b></p>
                            <br />
                            @if (Model.Description != null)
                            {
                                @Html.Raw(Model.Description)
                            } else
                            {
                                <p>Chưa cập nhật</p>
                            }
                        </div>
                    </div>
                    <div class="clearfix"> </div>

                    <div class="all-comments">
                        <div class="media-grids">
                            <div class="media">
                                <h5>TOM BROWN</h5>
                                <div class="media-left">
                                    <a href="#">
                                        <img src="~/Images/user.jpg" title="One movies" alt=" ">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
                                    <span>View all posts by :<a href="#"> Admin </a></span>
                                </div>
                            </div>
                            <div class="media">
                                <h5>MARK JOHNSON</h5>
                                <div class="media-left">
                                    <a href="#">
                                        <img src="~/Images/user.jpg" title="One movies" alt=" ">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
                                    <span>View all posts by :<a href="#"> Admin </a></span>
                                </div>
                            </div>
                            <div class="media">
                                <h5>STEVEN SMITH</h5>
                                <div class="media-left">
                                    <a href="#">
                                        <img src="~/Images/user.jpg" title="One movies" alt=" ">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id ex pretium hendrerit</p>
                                    <span>View all posts by :<a href="#"> Admin </a></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 single-right">
                    <h3>Up Next</h3>
                    <div class="single-grid-right">
                        @Html.Action("GetNewestMovies", "Movies")
                    </div>
                </div>



                <div class="clearfix"> </div>
            </div>
            <!-- //movie-browse-agile -->
            <!--body wrapper start-->
            @Html.Action("ViewSlideMovieHot", "Base")
            <!--body wrapper end-->
        </div>
        <!-- //w3l-latest-movies-grids -->
    </div>
</div>